.sub-contact-links-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.sub-contact-links-container a {
  display: flex;
  align-items: center;
  margin: 10px;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 1.3px;
}
.sub-contact-links-container a:hover {
  color: #aaa;
}
.sub-contact-links-container a * {
  margin-right: 5px;
}
