* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -moz-outline-radius: 0;
}

@font-face {
  font-family: "Gochi Hand";
  src: url("../assets//fonts/GochiHand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Gochi Hand";
}

body a {
  color: rgb(150, 45, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
